.cont-35{behavior:url(js/PIE.htc);-pie-background:rgba(32,161,126,0.6);}
.cont-40{behavior:url(js/PIE.htc);-pie-background:rgba(32,161,126,0.6);}
.cont-42{behavior:url(js/PIE.htc);-pie-background:rgba(32,161,126,0.6);}
.cont-43{behavior:url(js/PIE.htc);-pie-background:rgba(32,161,126,0.6);}
